
/= simple_form_for (@operation) do |f|
/  = f.input :value, label: "Сумма"
/
/
/  = f.association :card, label: "Номер карты"
/
/
/  = f.input :comment, label: "Комментарий"
/
/
/  = f.button :submit, label: "Оплатить", class: "btn btn btn-primary"