/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require operations
 *= require sellers
 *= require chosen
 */

body {
    margin-top: 60px;
}

.navbar-right {
    float: right!important;
}

#signin
    input.btn.signin {
        display: block;
}

.selection {
    margin-left: 180px;
    margin-bottom: 20px;
    display: block;
}

.submit-bottons {
    padding-left: 20px!important;
    width: 240px;
}

.input-fields {
    padding-left: 20px;
}

.input-fields
    input {
        margin-bottom: 10px;
}

.error-field {
    background-color: rgba(235, 104, 104, 0.44);
    width: 320px;
    margin-bottom: 30px;
}

